*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Orbitron", sans-serif;
    background-image: url(/choosing-char/images/Rectangle\ 1\ copy\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(7, 4, 15, 1);
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
}
/* body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(35, 18, 18, 0.4); /* Change this to your desired color and opacity 
    z-index: -1;
} */
#container{
    width: 90%;
    height: 100%;
    margin: 1rem auto;
}

/* head style */

#container #container-head #p1{
    color: rgba(83, 125, 216, 1);
    font-size: 13px;
    line-height: 100%;
}
#container #container-head h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}
#container #container-head #p2{
    margin: 10px 35px;
    font-size: 14px;
    font-weight: 400;
    font-style: oblique;
    text-transform: uppercase;
}
#container #container-head #p2 span{
    background-color: rgba(83, 125, 216, 1) ;
    padding: 0 5px 0 0;
    /* border-radius: 0px 10px 0 0; */
}

/* Container-content style */
#container-content{
    width: 100%;
    margin: 70px auto;
    height: 100vh;  
}
#container-content #content{
    height: 100%; 
      
   color: white;
   padding: 20px;
   width: 100%;
   
   position: relative;
    background-image: url("./images/Vector\ 47.svg");
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
}
 #container-content #content #loading-section{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
    position: absolute;
    top: -0.6rem;
    left: 10rem;
 }
 #container-content #content #loading-section #loading-text{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
 }
 #container-content #content #loading-section #loading-text h2{
    font-weight: 400;
    font-size: 26.31;
    letter-spacing: 21%;

 }
 #container-content #content #loading-section #loading-text p{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.61);
    position: relative;
    top: 10px;
 }
  #container-content #content #loading-section #loading-img{
    height: 5px;
    width: 100%;
    background-image: url(/choosing-char/images/Rectangle\ 41.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
   #container-content #content #loading-section #loading-img img{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow:0 2px 8px rgba(83, 125, 216, 1);
   }
 
/* content style */
#content-information{
    width: 100%;
    display: flex;
    margin-top: 3rem;
    
}
#content-information #card{
    width: 40%;
    text-align: center;
}
#content-information #card #slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#content-information #card #slider #slider-img{
    width: 322px;
    height: 281px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(/choosing-char/images/Rectangle\ 74\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#content-information #card #slider #slider-img img{
    width: 50%;
}
#content-information #card #slider .btn-primary{
    width: 42px;
    height: 40px;
}
/* #content-information #card #first-img{
    width: 209px;
    height: 310px;
} */
#card-images{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 97px;
    position: relative;
  right: 70px;

}
#card-images #images{
    position: relative;
    top: 30px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 3px;
}
#card-images img{
    width: 43px;
    height: 64px; 
}
#card-images .vector48{
    width: 25px; 
}
  #content-information #card .active{
        height: 60px;
        width: 60px;
        padding: 3px;
        border: solid 0.5px rgba(83, 125, 216, 1);
    }

#content-information #information{
    width: 60%;
}


#analyze{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    gap: 5px;
}
#analyze p{
    font-weight: 400;
    font-size: 11.13px;
    line-height: 100%;
    letter-spacing: 21%;
    text-transform: uppercase;
    color: rgba(49, 168, 255, 0.6);
}



/* content information style */
#content-information #information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
#content-information #information #p1{
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 5%;
    color: rgba(255, 255, 255, 1);
}
#content-information #information #p2{
    width: 123px;
    height: 14.5px;
    background-color: rgba(83, 125, 216, 1);
    border-radius: 0 10px 0 0;
    font-weight: 600;
    font-size: 6.67px;
    color:rgba(0, 0, 0, 1) ;
    letter-spacing: 5%;
    line-height: 92%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
#content-information #information h1{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 8%;
    font-size: 48px;
}
#content-information #information img{
    width: 137px;
}
#content-information #information #p3{
    font-size: 12px;
    font-weight: 700;
    font-weight: bold;
    line-height: 189%;
    margin-top: 2rem;
}
#content-information #information button{
    margin-top: 2rem;
    width: 105.84px;
    height: 38.7px;
    padding: 5px 10px;
    background-color:  rgba(83, 125, 216, 1);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    border: none;
}